<h1 mat-dialog-title>Вход:</h1>
<div mat-dialog-content>
<form [formGroup]="userLoginGroup"  (ngSubmit)="onSubmit()" style="display: flex;justify-content: space-between;">
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Введите логин</mat-label>
      <input matInput placeholder="Vlad999" formControlName="username" required>
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Введите пароль</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <div>  <button mat-button [mat-dialog-close]>Отмена</button></div>
  <div>  <button type="submit" mat-button >Вход</button></div>
</form>
</div>
