<div class="centred-self">
  <div class="top-description">
    <mat-icon class="unselectable selectable-icons"  style="cursor: pointer" matTooltip="Перейти в личный кабинет" (click)="openDialog()">assignment_ind</mat-icon>
  </div>
</div>
