.centred-self {
  margin-left: 20px;
  align-self: center;
}
.top-description {
  display: table-cell;
  vertical-align: middle;
  height: 104px;
  padding: 0;
  letter-spacing: 0;
  font-size: 15px;
  line-height: 18px;
}
