<mat-card class="example-card" style="height: 530px">
  <img *ngIf="hasImageLink()" mat-card-image src="{{product.titleImageLink}}">
  <img *ngIf="!hasImageLink()" mat-card-image src="../../../../../assets/no_image.png">
  <mat-card-content style="display: flex;
    flex-direction: column;height: 200px;">
    <a [routerLink] = "['/product', productId]"  style="align-self: center"> {{product.name}}</a>
    <div class="flex-wrapper" *ngIf="product.productExist">
      <div class="inline-flex-wrapper">
        <div><p>Есть в наличии </p></div>
        <div class="table-wrapper"><mat-icon class="material-icon-done">done</mat-icon></div>
      </div>
    </div>
    <div class="flex-wrapper" *ngIf="!product.productExist">
      <div class="inline-flex-wrapper">
        <div><p>Нет в наличии </p></div>
        <div class="table-wrapper"><mat-icon class="material-icon-error">clear</mat-icon></div>
      </div>
    </div>
    <div><p class="small-text center-text">Артикул: {{product.vendorCode}}</p></div>
    <div style="height: 60px">
      <div class="flex-wrapper top-margin">
        <div class="inline-flex-wrapper">
          <strong class="price-text-discount" *ngIf="product.discountPrice">{{product.discountPrice}} р/шт</strong>
          <strong class="price-text-discount" *ngIf="!product.discountPrice">{{product.price}} р/шт</strong>
        </div>
      </div>
      <div class="flex-wrapper top-margin" *ngIf="product.discountPrice">
        <div class="inline-flex-wrapper">
          <strong class="price-text red-line-text">{{product.price}} р/шт</strong>
        </div>
      </div>
    </div>


  </mat-card-content>
  <mat-card-actions>
    <div class="flex-wrapper">
      <div>
        <app-add-to-cart-element></app-add-to-cart-element>
        <div style="position: absolute;top: 0;left: 0;">
          <app-product-controll-menu-element  *ngIf="authenticationService.listenUser | async as user" [product]="product" productId="{{productId}}"></app-product-controll-menu-element>
        </div>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
