.example-card {
  max-width: 200px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.material-icon-done{
  color: green;
}
.material-icon-error{
  color: red;
}

.table-wrapper{
  display: table-cell;
  align-self: center;
  margin-left: 5px;
}
.small-text{
  font-size: 12px;
  color: grey;
}
.center-text{
  text-align: center;
}
.price-text-discount{
  font-size: 20px;
  color: black;
}
.red-line-text{
  text-decoration: line-through;
  text-decoration-color: red;
}
.price-text{
  font-size: 20px;
  color: grey;
}

.top-margin{
  margin-top: 5px;
}
