
<div class="centred" style="display: inline-block; margin-left: 110px" *ngIf="logInVisible">
  <app-user-login-controller></app-user-login-controller>
</div>
<div *ngIf="status | async as status">
  {{toggleLoginVisible()}}
  <div style="display: flex; justify-content: space-between ; width: 300px">
    <div><p>Вы вошли как:</p> </div>
    <div class="centred"><strong>{{authenticationService.currentUserValue.username}}</strong></div>
    <div class="centred"><button (click)="logout()" mat-button>Выйти</button></div>
  </div>
</div>

