<div style="display: inline-block;">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" >
    <app-product-delete-controller productId ="{{productId}}" (deletedEvent)="deletedEvent.emit()"></app-product-delete-controller>
    <app-product-editor-controller matLabel="build" [create] = false [product]="product" productName="Изменить"></app-product-editor-controller >
  </mat-menu>
</div>
