.left-side-elem{
  margin-left: 10px;
}
.border-wrapper{
  height: 500px;
  border: 1px solid #c7c7c7;
}
.material-icon-done{
  color: green;
}
.material-icon-error{
  color: red;
}
.flex-wrapper{
  display: flex;
  justify-content: center;
}
.inline-flex-wrapper{
  display: inline-flex;
}
.table-wrapper{
  display: table-cell;
  align-self: center;
  margin-left: 5px;
}
.small-text{
  font-size: 12px;
  color: grey;
}
.center-text{
  text-align: center;
}
.price-text-discount{
  font-size: 20px;
  color: black;
}
.red-line-text{
  text-decoration: line-through;
  text-decoration-color: red;
}
.price-text{
  font-size: 20px;
  color: grey;
}
.product-count-wrapper{
  width: 40px;
  height: 40px;
}
.product-count {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}
.product-cart-add-wrapper {
  margin-left: 15px;
}
.top-margin{
  margin-top: 5px;
}
.middle-block{
  margin-top: 80px;
  height: 150px;
}
.low-block{
  margin-top: 80px;
}
.big-font{
  font-size: 20px;
}


