<div style="margin: 20px;" *ngIf="product | async as product">
  <div style="display: flex">
    <h1 style="font-weight: bold;" class="product-name">{{product.name}}</h1>
    <div style="align-self: center">
      <app-product-controll-menu-element *ngIf="authenticationService.listenUser | async as user"
                                          productId="{{productId}}" [product]="product">

      </app-product-controll-menu-element>
    </div>
  </div>
  <div style=" width: 1400px;">
    <div class="border-wrapper" style="display: flex;justify-content: space-around;">

      <div style="width: 450px; height: 100%;">
        <img style="height: 100%; padding: 20px" mat-card-image src="{{product.titleImageLink}}">
      </div>
      <div style=" height: 100%;">
        <div>
          <p style="font-weight: bold;text-align: center" class="product-name ">{{product.name}}</p>
          <p style="font-weight: bold;text-align: center" class="product-name">Артикул: {{product.vendorCode}}</p>
        </div>
        <div class="middle-block">
          <div class="flex-wrapper">
            <div class="inline-flex-wrapper" *ngIf="product.productExist">
              <div><p>Есть в наличии </p></div>
              <div class="table-wrapper"><mat-icon class="material-icon-done">done</mat-icon></div>
            </div>
          </div>
          <div class="flex-wrapper" *ngIf="!product.productExist">
            <div class="inline-flex-wrapper">
              <div><p>Нет в наличии </p></div>
              <div class="table-wrapper"><mat-icon class="material-icon-error">clear</mat-icon></div>
            </div>
          </div>
          <div class="flex-wrapper top-margin">
            <div class="inline-flex-wrapper" *ngIf="product.price">
              <strong class="price-text-discount"*ngIf="product.discountPrice">{{product.discountPrice}} р/шт</strong>
              <strong class="price-text-discount"*ngIf="!product.discountPrice">{{product.price}} р/шт</strong>
            </div>
          </div>
          <div class="flex-wrapper top-margin">
            <div class="inline-flex-wrapper" >
              <strong class="price-text red-line-text"*ngIf="product.discountPrice">{{product.price}} р/шт</strong>
            </div>
          </div>
        </div>
        <div class="low-block">
          <div class="flex-wrapper">
            <app-add-to-cart-element></app-add-to-cart-element>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <mat-tab-group>
      <mat-tab label="Описание">
        <div>
          <p class="big-font">{{product.describe}}</p>
        </div>
        <div>
          <h2 style="font-weight: bold">Характеристики:</h2>
          <div style="display: flex;justify-content: space-between;"*ngFor="let value of product.characteristics"><p class="big-font">{{value.key}}:</p><p class="big-font">{{value.value}}</p></div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
