<div class="flex-wrap">
  <div  class="margin-block" *ngFor="let product of products | async; ">
    <app-product-list-item-element [product]="product" [productId]="product.id"></app-product-list-item-element>
  </div>
</div>

