<div>
  <strong>Вы точно хотите удалить товар?</strong>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Нет</button>
  <button mat-button [mat-dialog-close] (click)="deleteItem()">Да</button>
</div>
