<div class="inline-block-wrapper">
  <div>
    <div class="inline-flex-wrapper">
      <button style="margin: 0;" mat-button (click)="reduceProductCounter()"><mat-icon>exposure_neg_1</mat-icon></button>
      <div class="product-count-wrapper">
        <input class="product-count" readonly value="{{productsCounter}}">
      </div>
      <button mat-button style="margin: 0;"  (click)="increaseProductCounter()"><mat-icon>exposure_plus_1</mat-icon></button>
    </div>
    <div class="flex-wrapper">
      <div class="inline-flex-wrapper">
        <button mat-button disabled = '{{disabledCart}}' (click)="cartButtonPressed($event)"><mat-icon>add_shopping_cart</mat-icon></button>
      </div>
    </div>
  </div>
</div>
