.product-count-wrapper{
  width: 40px;
  height: 40px;
}
.product-count {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}
.product-cart-add-wrapper {
  margin-left: 15px;
}
.inline-block-wrapper{
  display: inline-block;
}
