<mat-toolbar class="menu-row" color="primary" style="width: 1650px;
    padding-right: 0px;
    margin-right: 0px;">
  <a (click)="drawer.toggle()" class="top-nav-elem"><span>Каталог</span></a>
  <a href="/" class="top-nav-elem"><span>О нас</span></a>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize style="position: absolute;border: none; background: transparent">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem"><a routerLink="/" class="button fancy-button">Все товары</a></mat-list-item>
      <div *ngFor="let category of categories | async">
        <mat-list-item role="listitem" ><a [routerLink] = "['category', category.categoryType]"class="button fancy-button">{{category.categoryType}}</a></mat-list-item>
      </div>
    </mat-list>
  </mat-drawer>
  <div class="example-sidenav-content">
  </div>
</mat-drawer-container>
