.top-nav-elem{
  padding: 16px 80px;
  text-decoration: none;
  color: white!important;
}
.top-nav-elem:hover {
  background-color: #6f79b1;
}

.example-container {
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.mat-drawer{
  background-color: rgba(212, 212, 212, 0.91);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
