.centred-image{
  display: block;
  width: 250px;
  height: 250px;
  margin: 10px auto auto;
}
.flex-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-flex-block-img{
  align-self: center;
  width: 280px; height: 280px; border: 4px double black;
}
