
<h1 mat-dialog-title>Редактор категорий</h1>
<div mat-dialog-content>
  <form [formGroup]="categoriesFromGroup">
    <!---Survey Section -->
              <div formArrayName="categories">
                <div style="margin-top: 20px;" [formGroupName]="i" *ngFor="let char of getCategories(categoriesFromGroup); let i = index">
                  <div style="display: flex;
                justify-content: space-around;" >
                    <mat-form-field><input matInput type="text" placeholder="Категория" formControlName="category"></mat-form-field>
                  </div>
                  <div style="display: flex;
    justify-content: space-between;">
                    <div><a *ngIf = "!(getCategories(categoriesFromGroup).length-1 === i)" (click) = "removeCategories(i)">Удалить категорию</a></div>
                    <div><a *ngIf = "getCategories(categoriesFromGroup).length-1 === i" (click)="addCategory(i)">Добавить категорию</a></div>
                    <div><a *ngIf = "!(getCategories(categoriesFromGroup).length-1 === i)" (click)="editCategory(i)">Изменить категорию</a></div>
                  </div>
                </div>
              </div>

    <!-- End Section -->
  </form>
</div>
