
<h1 mat-dialog-title>Создание товара</h1>
<div mat-dialog-content>
  <form [formGroup]="productGroup" novalidate (ngSubmit)="onSubmit(productGroup)">
    <!---Survey Section -->
    <div>
      <div class="section-container">
        <div>
          <div class="    m,n  flex-block">
            <mat-form-field>
              <input matInput type="text" placeholder="Название товара" formControlName="name">
              <button mat-button *ngIf="productGroup.get('name')" matSuffix mat-icon-button aria-label="Clear" (click)="productGroup.get('name').setValue('') ">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="flex-block">
            <div class="image-flex-block-img">
              <img *ngIf="!!tempProduct.titleImageLink" class="centred-image " src="{{tempProduct.titleImageLink}}">
              <img *ngIf="!!!tempProduct.titleImageLink" class="centred-image " src="../../../../../assets/no_image.png">
            </div>
            <mat-form-field>
              <input  matInput type="text" placeholder="Путь к картинке" formControlName="titleImageLink" >
              <button mat-button *ngIf="productGroup.get('titleImageLink')" matSuffix mat-icon-button aria-label="Clear" (click)="productGroup.get('titleImageLink').setValue('') ">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="flex-block">
            <mat-form-field><input matInput type="text" placeholder="Артикул" formControlName="vendorCode">
              <button mat-button *ngIf="productGroup.get('vendorCode')" matSuffix mat-icon-button aria-label="Clear" (click)="productGroup.get('vendorCode').setValue('') ">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div >
            <div class="flex-block">
              <mat-form-field>
                <input matInput type="text" placeholder="Цена" formControlName="price">
                <button mat-button *ngIf="productGroup.get('price')" matSuffix mat-icon-button aria-label="Clear" (click)="productGroup.get('price').setValue('') ">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" placeholder="Цена по скидке" formControlName="discountPrice">
                <button mat-button *ngIf="productGroup.get('discountPrice')" matSuffix mat-icon-button aria-label="Clear" (click)="productGroup.get('discountPrice').setValue('') ">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Категория</mat-label>
                <mat-select formControlName="category">
                  <mat-option *ngFor="let category of categories | async" value="{{category.categoryType}}">{{category.categoryType}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div style="margin-top: 15px;margin-bottom: 15px">
                <mat-label>Есть на складе?</mat-label>
                <mat-checkbox style="margin-left: 10px;" formControlName="productExist"></mat-checkbox>
              </div>
              <mat-form-field appearance="fill">
                <mat-label>Описание товара</mat-label>
                <textarea matInput formControlName="describe" ></textarea>
              </mat-form-field>
              <div formArrayName="characteristics">
                <div style="margin-top: 20px;" [formGroupName]="i" *ngFor="let char of getCharacteristics(productGroup); let i = index">
                  <div style="display: flex;
                justify-content: space-around;" >
                    <mat-form-field><input matInput type="text" placeholder="Имя свойства" formControlName="key"></mat-form-field>
                    <mat-form-field><input matInput type="text" placeholder="Значение" formControlName="value"></mat-form-field>
                  </div>
                  <div style="display: flex;
    justify-content: space-between;">
                    <div><a (click) = "removeCharacteristics(i)">Удалить свойство</a></div>
                    <div><a *ngIf = "getCharacteristics(productGroup).length-1 === i" (click)="addCharacteristics()">Добавить свойство</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Question -->
        </div>
      </div>
    </div>
    <!-- End Section -->
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Отмена</button>
  <button mat-button [mat-dialog-close] (click)="onSendClick()">{{getPrompt()}}</button>
</div>
