<div class="row">
  <div class="inline-block pull-left">
    <a href="/"><img src="../../../../assets/logo.jpg" style="width: 200px;height: 130px"></a>
  </div>
  <div class="inline-block pull-left">
    <div class="top-description">
      <div class="region_wrapper">
        <div><mat-icon class="absolute-icon-24-left">phone</mat-icon> <strong>7 (916) 26-23-462</strong></div>
        <a  class="open-dialog-ref">Заказать звонок</a>
      </div>
    </div>
  </div>
  <div class="inline-block pull-left">
    <div class="top-description">
      <div>
        <mat-icon class="unselectable "  >house</mat-icon>
      </div>
    </div>
  </div>
  <div class="inline-block pull-left">
    <div class="top-description">
      <div style="width: 150px;">
        <strong>МО, с.Быково, улица Театральная ул., 3 стр30
          Ярмарка на Театральной, Павильон 165А</strong>
      </div>
    </div>
  </div>
  <div class="inline-block pull-left" style="position: absolute; left: 655px;">
    <div class="top-description">
      <div *ngIf="authenticationService.listenUser | async as user">
        <app-product-editor-element></app-product-editor-element>
      </div>
    </div>
  </div>
  <div class="inline-block pull-left" style="position: absolute;left: 855px;">
    <div class="top-description">
      <div *ngIf="authenticationService.listenUser | async as user">
        <app-category-list-conteroller></app-category-list-conteroller>
      </div>
    </div>
  </div>

  <div class="inline-block pull-left">
    <div class="top-description">
      <app-user-element></app-user-element>
    </div>
  </div>
  <div class="inline-block pull-left">
    <div class="top-description">
      <mat-icon class="unselectable selectable-icons" matTooltip="Перейти в корзину" >shopping_cart</mat-icon>
    </div>
  </div>
</div>

