#logo{
  margin-left: 20px;
}
.row {
  display: flex;
}
.row:before{
  content: "";
  display: block;
  clear: both;
}

.inline-block{
  margin-left: 20px;
  align-self: center;
}

.search-field {
  width: 100%;
  display: block!important;
  margin-top: 22px;
  height: 96px!important;
}
.inline-block:nth-of-type(4) {
  margin-right: 620px;
}

.top-description {
  display: table-cell;
  vertical-align: middle;
  height: 104px;
  padding: 0;
  letter-spacing: 0;
  font-size: 15px;
  line-height: 18px;
}
.region_wrapper {
  max-width: 155px;
  position: relative;
  z-index: 10;
  padding: 0px 10px 0 20px;
  margin-left: 30px;
  margin-right: 20px;
}
.absolute-icon-24-left{
  position: absolute;
  top: -4px;
  left: -4px;
}
.absolute-icon-24-near{
  position: absolute;
  top: 15px;
}

.open-dialog-ref {
  cursor: pointer;
  color: orange;
}
.open-dialog-ref:hover{
  color: grey;
}
.selectable-icons{
  cursor: pointer;
  color: grey;
}
.selectable-icons:hover{
  color: black;
}
